name: Validate with HACS

on:
  pull_request:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 12 * * *"

jobs:
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - name: HACS Action
        uses: "hacs/action@dcb30e72781db3f207d5236b861172774ab0b485"
        with:
          category: "integration"
          ignore: "brands"
