name: Validate with HACS

on:
  pull_request:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 12 * * *"

jobs:
  hacs:
    name: HACS Action
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - name: HACS Action
        uses: "hacs/action@6f81caf1dd4cc0f615444dba4d4a3ceaa22db99c"
        with:
          category: "integration"
          ignore: "brands"
