name: Validate with hassfest

on:
  pull_request:
  push:
    branches: [ main ]
  schedule:
    - cron:  "0 12 * * *"

jobs:
  validate:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v6"
      - uses: "home-assistant/actions/hassfest@55b4a5d23e09d627c2773c2ef82afa98904d65b4"
